/* Basic reset */
*{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    font-family: Nunito Sans, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    /* padding: 2%; */

}

#backButton{
    padding: 0.7%;
    border-radius: 30%;
    border-width: 0cap;
    box-shadow: 0px 4px 8px rgba(41, 21, 21, 0.2)

}
#back-button-cruiser{
    margin-top: 1.2%;

}

.dark-mode {
    background-color: #333;
    color: #f0f0f0;
}
body p{
    padding-top: 1%;
}

.container {
    display: grid;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.img-container {
    /* text-align: center;
    margin-bottom: 20px;
    height: 2%; */
    max-width: 40%;
    flex: 1;
}


#top-p{
    display: flex;
    /* flex: 2; */
    display: row;
    flex-direction: row;
    justify-content: space-between;
}
.more-info-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.card-content, .card-content1 {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode-card {
    background: #444;
    color: #ddd;
}

h3 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

/* Navbar styling */

/* FOR THE NAVIGATION END */

body #padder{
    padding: 2% 3% 1.8% 3%;
}



nav{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 1, 0.05);
    position: relative;
}

nav .togger-section button{
    margin-left: 5px;
    font-size: 18px;
    border:  none;
    background-color:unset;
}


.togger-section {
    display: flex;
    align-items: center;
}

#img-sizer {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.dark-mode .navbar {
    background-color: #222;
}


nav .navbar-brand{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: black;
}


@media (max-width: 768px) {
    .card-content, .card-content1 {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .navbar-brand {
        font-size: 18px;
    }

    .navbar-button-toggler {
        font-size: 14px;
        padding: 5px;
    }

    .container {
        padding: 10px;
    }
}
